<div ng-controller="navCtrl">
  <div>navCtrl text: {{user}}</div>

  <div ng-controller="loginCtrl">
        <div> loginCtrl text: {{user}}</div>
        <input ng-model="$parent.user"></input>
  </div>

</div>
